{% load i18n themes posttags%}
{% theme_extends "base.html" %}
{% block title %}{{post.title}}-{{ block.super }}{% endblock %}
{% block meta %}<meta content="{{post.title}}" name="keywords"/>
<meta name="description" content="{{post.content|striptags|truncatewords_html:30}}"/>{%endblock%}
{% block script %}<script type="text/javascript" src="{%media_url%}/js/common.js"></script>{%endblock%}

<!--Start of content-->
{% block content %}
<!--Start of prompt-->
 {% if msg %}
 <div class="message">{{msg}}</div>
 {% endif %}
 <!--End of prompt--> 
<div class="entry">
      <h1>
        {{post.title}}
      </h1>
      <div class="byline">
        {% trans "Pubdate" %}:{{post.pubdate|date:"Y-m-d H:i:s"}} | {{post.hits}} {% trans "Views" %} |  {% if post.tags.all %}
    <!--tags-->
    &nbsp;&nbsp;<br/>{%trans "Tags" %}:
    {% for tag in post.tags.all %}
    <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}
      </div>
      <div class="body">
        <p>
       
    {{post.content|safe|linebreaks}}
   
        </p>
      </div>
     
    </div>  
    
<!--Start of comments-->
{% ifnotequal 0 post.comment_count %}
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>{% trans "Comments" %}</span>
        <ul>
        {% for cmt in comments.object_list%}
           <li><strong>{{cmt.comment_author}}</strong> {% trans "Post at" %} {{cmt.comment_date|date:"Y-m-d H:i:s"}}          
           <br/>
          {{cmt.comment_content|linebreaks }}     
           </li>
        {% endfor %}
        </ul>{%paginator comments '#comments'%}
    </div>
{% endifnotequal %} 
    
        {% include "blog/comment_form.html" %}
 
    <!--End of comments-->
{% endblock %}
<!--End of content-->

