{% load i18n themes posttags render%}
{% theme_extends "base.html" %}
{% block title %}{{pagetitle}} - {{ block.super }} {% endblock %}
{% block content %}
            {% for post in ol.object_list %}
                <div class="post">
                  <h2>
                    <a href="{{post.get_absolute_url}}" >{{post.title}}</a>
                  </h2>
                <small>{% trans "Pubdate" %}: <abbr title="post time">{{post.pubdate|date:"Y-m-d H:i:s"}}</abbr></small>
            
                  <div class="postbg">
                    <p>
                     {{post.content|markup:post.markup|safe|truncatewords_html:"20"}}
                    </p>
                  </div>                
                <small><img title="Comments" height="16" src="{% media_url %}/images/comment.gif" width="16" align="absmiddle"/>
                  <a href="{{post.get_absolute_url}}#newcomments">{% trans "Comments" %}({{post.comment_count}})</a> | {{post.hits}} {% trans "Views" %}</small><br>
               </div>      
                {% endfor %}
            <!--Start of pagger-->
            {%paginator ol%}
            <!--End of pagger-->    
{%endblock%}