{% load i18n themes render%}
{% theme_extends "base.html" %}
{% block title %}{{pagetitle}} - {{ block.super }} {% endblock %}
{% block content %} 
            {% for post in posts %}
                <div class="entry">
      <h1>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
      </h1>
      <div class="byline">
         {% trans "Pubdate" %}:{{post.pubdate|date:"Y-m-d H:i:s"}}
      </div>
      <div class="body">
        <p>
         {{post.content|markup:post.markup|safe|truncatewords_html:"20"}}
        </p>
      </div>
      <div class="byline" style="PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em;">
      <img title="Comments" height="16" src="{% media_url %}/images/comment.gif" width="16" align="middle">
        <a href="{{post.get_absolute_url}}#newcomments">{% trans "Comments" %}({{post.comment_count}})</a> | {{post.hits}} {% trans "Views" %}
      </div>
    </div>      
            {% endfor %}
<!--Start of pagger-->
<div id="pagger">
    {% if prev_page %}<a href="?page={{prev_page}}">{% trans "Prev" %}</a>{% endif %}
    {% if next_page%}<a href="?page={{next_page}}">{% trans "Next" %}</a>{% endif %}    
</div>
<!--End of pagger-->
{% endblock %}
