{% load i18n themes %}
{% theme_extends "base.html" %}
{% block title %}{%trans "Tags" %} - {{ block.super }}{% endblock %}
<!--Start of content-->
{% block content %}
<div class="entry">
         <h1>
        {%trans "Tags" %}
      </h1> 
      <div class="body">      
    {% for tag in tags %}
    <a href="{{tag.get_absolute_url}}" class="tags font_{{tag.reference_count}}">{{tag.name}}</a>&nbsp;&nbsp;
    {% endfor %}
	
      </div>
	<br/><br/>  
</div>	  
{% endblock %}
<!--End of content-->

