{% load i18n posttags links menu themes config %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}{%site_name%}-{%site_subtitle%}{% endblock %}
    </title>{%block meta %}
    <meta content="{%site_keywords%}" name="keywords" />
    <meta name="description" content="{%site_description%}" />
	{%endblock%} 
    <link rel="stylesheet" type="text/css" href="{%theme_media_url%}/css/screen.css" />
	{% block script%}{% endblock %}
  </head>
  <body>
    <div class="width minwidth">
      <div id="layer_message"></div>
      <table class="mainLayout" cellspacing="0">
        <tbody>
          <tr>
            <td class="mainLayoutTD">
              <div id="wrap">
                <!-- HEADER -->
                <div id="header" class="header_{{tab}}">
                  <h1>
                    <a href="http://oteam.cn/"><span class="blind">oteam.cn</span></a>
                  </h1>{% site_menu %}
                  <div class="gnb_area" id="gnb_area">
                    <div id="gnb_utility">
                      <div class="account"></div>
                    </div>
                  </div>
                  <div id="start" class="skip blind">
                    <a name="start" id="start"></a>
                  </div>
                </div><!-- //HEADER -->
                <div id="before_login">
                  <div class="content" id="before_login_content">
                    <div class="visual">
                      {% block content %}{% endblock %}
                    </div>
                    <div class="aside">
                      <div class="logbox">
                        {% trans "Subscribe to my blog using RSS" %}<br />
                        <a href='{% url feeds url="rss" %}' rel=
                        "noindex,nofollow"><img src="{%theme_media_url%}/images/rss2.gif"
                        border="0" alt="Image" /></a>&nbsp;<a href='{%url feeds url="atom" %}'
                        rel="noindex,nofollow"><img src=
                        "{%theme_media_url %}/images/atom1.gif" border="0" alt=
                        "Image" /></a><br />
                      </div>
                      <div class="sidebar">
                        {% block sidebar %}
                        <dl>
                          <dt>
                            {% trans "Categories" %}
                          </dt>
                        </dl>{% get_categories %}
                        <dl>
                          <dt>
                            {% trans "Archives" %}
                          </dt>
                        </dl>{% get_archivelist %}
                        <dl>
                          <dt>
                            {% trans "Links" %}
                          </dt>
                        </dl>{% get_links %}
                        <dl>
                          <dt>
                            Meta
                          </dt>
                        </dl>
                        <ul>
                          <li>
                            <a href="http://www.python.org" target="_blank"><img src=
                            "{%theme_media_url%}/images/python-powered.png" border="0" title=
                            "main program language is Python" alt="python" /></a>
                          </li>
                          <li>
                            <a href="http://www.djangoproject.com" target="_blank"><img src=
                            "{%theme_media_url%}/images/djangoproject.gif" border="0" title=
                            "django web framework" alt="django" /></a>
                          </li>
                          <li>
                            <a href="http://jquery.com" target="_blank"><img src=
                            "{%theme_media_url%}/images/jquery_logo.gif" title=
                            "javascript framework used jQuery" border="0" alt="jquery" /></a>
                          </li>
                          <li>
                            <a href="/admin/">{%if user.is_authenticated%}Admin{%else%}Login{%endif%}</a>
                          </li>
                        </ul>{% endblock %}
                      </div>
                    </div>
                    <div class="cb"></div>
                  </div>
                  <div class="footer" id="before_login_footer">
                    <address>
                      Powered by <a target="_blank" href=
                      "http://code.google.com/p/pylogs/"><em>Pylogs</em></a><sup>{% get_version %}</sup>&nbsp;
					  <em>naver</em> Theme by <a title="Sky" href="http://oteam.cn/">Sky</a>
                    </address>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
