{% load i18n themes posttags render%}
{% theme_extends "base.html" %}
{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
{% block meta %}<meta content="{{post.title}},Pylogs,基于Python的博客系统" name="keywords"/>
<meta name="description" content="{{post.content|striptags|truncatewords_html:30}}"/>{%endblock%}
{% block content %}
<!--Start of content-->
 <div class="post">
      <h2>
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
      </h2>
    <small>{% trans "Pubdate" %}:<abbr title="post time">{{post.pubdate|date:"Y-m-d H:i:s"}}</abbr>
    &nbsp;&nbsp;<!--Categories--> {%trans "Categories" %}:
    {% for cat in post.category.all %}
    <a href="{{cat.get_absolute_url}}" rel="category tag">{{cat.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}&nbsp;&nbsp;
    {{post.hits}} {% trans "Views" %}
    {% if post.tags.all %}
    <!--tags-->
    <br/>{%trans "Tags" %}:
    {% for tag in post.tags.all %}
    <a href="{{tag.get_absolute_url}}">{{tag.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}
    </small>
    <br><br>
    
      <div class="postbg">
            {{post.content|markup:post.markup|safe}}     
      </div>
    <br>
      <small><a href="{{post.get_absolute_url}}#newcomments">{% trans "Comments" %}({{post.comment_count}})</a><br>
      </small>
      <br/>
      <h2>相关文章</h2>
      {%get_tagged_posts post.tags.all 5 post.id%}
   </div>
 
 {% ifnotequal 0 post.comment_count %}   
    <!--Start of comments-->    
    <div id="comments">
        <span class="commenttitle"><a name="comments"></a>{% trans "Comments" %}</span>
        <ul>
        {% for cmt in post.get_comments%}
           <li class="{% cycle alt1,alt2,alt3 %}">
            <strong>{% if cmt.comment_author_url %}<a href="{{cmt.comment_author_url}}" target="_blank">{{cmt.comment_author}}</a>{% else %}{{cmt.comment_author}}{% endif %}</strong>
            <span class="byline">{% trans "Post at" %} {{cmt.comment_date|date:"Y-m-d H:i:s"}}</span>
           {{cmt.comment_content|linebreaks }}             
           </li>
        {% endfor %}
        </ul>
    </div>
 {% endifnotequal %}   
 {% ifequal "open" post.comment_status %}
        {% include "blog/comment_form.html" %}
{% endifequal %} 
    <!--End of comments-->
{% endblock %}
<!--End of content-->
