{%extends "wap/base.html"%}{%load i18n waptags wapfilters%}{% block title %}{{post.title}} - {{ block.super }} {% endblock %}
{% block content %}
<strong>{{post.title}}</strong>
<br/>
    <small>{% trans "Pubdate" %}:{{post.pubdate|date:"Y-m-d H:i:s"}}
    <br/>{%trans "Categories" %}:
    {% for cat in post.category.all %}
    <a href="{%url wap_pre%}{{cat.get_absolute_url}}" >{{cat.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    {{post.hits}} {% trans "Views" %}
    {% if post.tags.all %}
   
    <br/>{%trans "Tags" %}:
    {% for tag in post.tags.all %}
    <a href="{%url wap_pre%}{{tag.get_absolute_url}}">{{tag.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    {% endif %}
    </small>
    <br/>  
{{post.content|safewml}}
    <br/>
      <small><a href="{%url wap_pre%}{{post.get_absolute_url}}">{% trans "Comments" %}({{post.comment_count}})</a><br/>
      </small>
      <br/>
      <strong>相关文章</strong><br/>
      {%get_tagged_posts post.tags.all 5 post.id%}
      
{% ifnotequal 0 post.comment_count %}  
        <strong>{% trans "Comments" %}</strong>       
        {% for cmt in post.get_comments%}
          <br/>
            <strong>{% if cmt.comment_author_url %}<a href="{{cmt.comment_author_url}}" >{{cmt.comment_author}}</a>{% else %}{{cmt.comment_author}}{% endif %}</strong>
            <em>{% trans "Post at" %} {{cmt.comment_date|date:"Y-m-d H:i:s"}}</em>
           <br/>{{cmt.comment_content|safewml }}
        {% endfor %}
 {% endifnotequal %}{% endblock %}